@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Fustat:wght@200..800&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@import "tailwindcss";

/* -------------------------------
   THEME COLORS
---------------------------------*/
@theme {
  /* Background colors */
  --color-bg: #1b2230;
  --color-bg-main-container: #22293a;
  --color-bg-container: #253045;
  --color-bg-header: #22293a;
  --color-bg-footer: #151920;
  --color-bg-button: #2a3854;

  /* Text colors */
  --color-text: #ffffff;
  --color-sub-text: #aeaeae;

  /* Fonts */
  --font-sans: 'Fustat', Helvetica, sans-serif;
  --font-mono: 'Fira Code', 'Courier New', monospace;
}

/* -------------------------------
   DEFAULT BODY STYLING
---------------------------------*/
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-sans);
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}
